@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Fraunces:opsz@9..144&display=swap');
#navContainer {
    width: 100%;
    border-bottom: 1px outset black;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.882);

}
#navContainer #navItems {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
}
#navContainer #navItems #titulo {
    color: white;
    font-family: 'Abyssinica';
    text-transform: uppercase;
    font-weight: 100;
    text-decoration: none;
}

#navContainer #navItems #nav-cart a {
    display: flex;
    text-decoration: none;
    color: white;
}
nav {
    display: flex;
}
nav ul {
    display: flex;
    list-style-type: none;
    gap: 60px;
    align-items: center;
    font-family: 'Abyssinica';
    font-weight: 100;
}
nav ul a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}
.active {
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid white;
}
.greeting {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
